{% extends 'listings/base.html' %}
{% block content %}
    <h1>Bands</h1>
    <p>
        <a href="{% url 'band-create' %}" class="btn btn-md btn-success">Add a new band</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Band</td>
                <th>Actions</td>
            </tr>
        </thead>
        <tbody>
            {% for band in bands %}
            <tr>
                <td>
                    <a href="{% url 'band-detail' band.id %}">{{band.name | upper}}</a>
                </td>
                <td>
                    <a href="{% url 'band-update' band.id %}" class="btn btn-primary btn-sm">Update</a>
                    <a href="{% url 'band-delete' band.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}